form .error-message {
  padding: 0.5rem;
  color: var(--color-secondary);
  background-color: rgba(244, 187, 117, 0.048);
  border-radius: 5px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  display: none;
}

form .show-error-message .error-message {
  display: block;
}

form .show-error-message input[type] {
  border-color: rgba(244, 187, 117, 0.26);
  border-width: 2px;
}
