form .error-message {
  padding: 0.5rem;
  color: var(--color-secondary);
  background-color: #f4bb755d;
  border-radius: 5px;
  text-align: center;

  display: none;
}

form .show-error-message .error-message {
  display: block;
}

form .show-error-message input[type] {
  border-color: #f4bb755d;
  border-width: 2px;
}
